<mat-form-field	[formGroup]="formGroup" appearance="outline" fxFlex>
	<mat-label>{{ label }}</mat-label>
	<textarea #input matTextareaAutosize [matAutosizeMinRows]="minRows" [matAutosizeMaxRows]="maxRows" 
	[required]="checkRequired()" [type]="type" matInput 
	[placeholder]="placeholder" autocomplete="off" [formControlName]="formcontrolname"
	(keyup)="maxLength ? this.formGroup.get(this.formcontrolname).setValue(onChange($event.target.value)): false"></textarea>
	<mat-icon *ngIf="iconName" matSuffix class="secondary-text">{{ iconName }}</mat-icon>
	<mat-hint align="end" *ngIf="maxLength">{{input.value?.length || 0}}/{{ maxLength }}</mat-hint>
	<mat-error>
		<app-error [formcontrolname]="formcontrolname" [formGroup]="formGroup"></app-error>
	</mat-error>
</mat-form-field>