<mat-form-field [formGroup]="formGroup" appearance="outline" fxFlex>
	<mat-label>{{ label }}</mat-label>
	<input matInput [type]="type" [formControlName]="formcontrolname" [placeholder]="placeholder"
		(keyup)="onChange($event.target.value)" [mask]="mask" #input>
	<mat-icon *ngIf="iconName" matSuffix class="secondary-text">{{ iconName }}</mat-icon>
	<mat-hint align="end" *ngIf="maxLength">{{input.value?.length || 0}}/{{ maxLength }}</mat-hint>
	<mat-error>
		<app-error [formcontrolname]="formcontrolname" [formGroup]="formGroup"></app-error>
	</mat-error>
</mat-form-field>