<div id="view" fxFlex fxLayout="column">
	
	<app-header [operation]="operation" [iconName]="iconName" (search)="onSearch($event)" 
		[title]="title" (refresh)="onRefresh()">
	</app-header>

	<div class="content-wrapper w-100-p" fusePerfectScrollbar>
		<app-data-table [data]="dataSource" [config]="configuration" [isPaginated]="true" 
			[isViewed]="true" [isUpdated]="true" [isDeleted]="true" (refresh)="onRefresh($event)" 
			(update)="onUpdate($event)" (view)="onView($event)" (delete)="onDelete($event)">
		</app-data-table>
	</div>
</div>